
<%= form_for @user, url: admin_trader_list_path, local: true, method: :put do |f| %>

    <p>
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>      
        </ul>
      <% end %>
    </p>
    
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
      <%= f.hidden_field :id, value: @user.id %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>
    
    <% end %>